



.App {
    background-image: url(/home/seuz716/Documentos/cards-bootstrap/src/assets/treboles.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    font-family: 'Orbitron';
  }  

